@import url(@unocss/reset/tailwind.css);
@import url(overlayscrollbars/overlayscrollbars.css);
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cn-fontsource-fz-shu-song-z-01-regular/font.css">

html,
body,
#app {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html.dark {
  color-scheme: dark;
}

body {
  --at-apply: color-base bg-base sprinkle-primary text-base;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: 'FZShuSong-Z01', serif !important;
}

.p-4 {
  padding: 1rem 2.5rem 1rem 0rem !important;
}

.px-4 {
  padding-left: 0 !important;
  padding-right: 1rem !important;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

.dark .os-theme-dark {
  --os-handle-bg: rgba(255, 255, 255, 0.44);
  --os-handle-bg-hover: rgba(255, 255, 255, 0.55);
  --os-handle-bg-active: rgba(255, 255, 255, 0.66);
}

*, a, button {
  cursor: default;
  user-select: none;
}

#dropdown-menu li {
  --at-apply: hover:bg-neutral-400/10 rounded-md flex items-center p-1 gap-1;
}

.grabbing * {
  cursor: grabbing;
}